<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Edit</title>
  </head>

  <ul>
<% @articles.each do |article| %>
  <li>
    <a href="/articles/<%= article.id %>">
      <%= article.title %>
    </a>
  </li>
<% end %>
</ul>
</html>
