<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Edit</title>
  </head>
  <h1><%= @article.title %></h1>
  <%= @article.content %>

  <form method="post" action="/articles/<%= @article.id %>">
    <input type="hidden" name="_method" value="delete"/>
    <input type="submit"/>
  </form>

</html>
